@model OrderViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Id: @Model.Id</p>
<p>Город отправителя: @Model.SenderCity</p>
<p>Адресс отправителя: @Model.SenderAddress</p>
<p>Город получателя: @Model.RecepientCity</p>
<p>Адресс получателя: @Model.RecepientAddress</p>
<p>Вес груза: @Model.Wheight</p>
<p>Дата забора груза: @Model.PickupDate</p>
